<h1>Addition</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_num %></dt>

  <dt>Second number</dt>
  <dd><%= @second_num %></dt>

  <dt>Result</dt>
  <dd><%= @first_num + @second_num %></dt>
</dl>

<a href="/add">Do another addition<a>