<h1>Subtraction</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_num %></dt>

  <dt>Second number</dt>
  <dd><%= @second_num %></dt>

  <dt>Result</dt>
  <dd><%= @second_num - @first_num %></dt>
</dl>

<a href="/subtract">Do another subtraction<a>