<h1>Street address to coordinates calculation</h1>

<form action="/street_to_coords/results">
  <label for="addr">Street address:</label>
  <input id="addr" type="text" name="addr" placeholder="Enter the address">

  <button>Lookup Coordinates!</button>
</form>
