<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_num">Divide this:</label>
  <input id="first_num" type="text" name="first_num">

  <label for="second_num">by this:</label>
  <input id="second_num" type="text" name="second_num">

  <button>Divide!</button>
</form>